body{
    background: #352f5b;
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  
  .button {
    background: #423a6f;
    color: #fff;
  }
  
  .button:hover {
    opacity: 0.8;
    color: #fff;
  }
  
  .todos li{
    background: #423a6f;
  }
  .delete{
    cursor: pointer;
  }
  .filtered{
    display: none !important;
  }

  .fas{
    margin-left: 180px;
    cursor: pointer;
  }

  .edit1{
    margin-left: 192px;
  }